.include "../../exe/shared/servercommon.cfg"
.include "default.cfg"

# Settings needed for basic operation.
#   These settings may be overridden by those in localOptions.cfg which is included at the end of this file.

[LoginServer]
databasePWD=swg
useExternalAuth=false
#externalAuthURL=http://127.0.0.1/auth.php

[dbProcess]
databaseProtocol=OCI
databasePWD=swg

[GameServer]
javaVMName=sun

[TaskManager]
environmentVariable=NLS_LANG=american_america.utf8
#environmentVariable=ORACLE_HOME=/opt/app/oracle/product/9.2.0
#environmentVariable=PATH+=/opt/app/oracle/product/9.2.0/bin
#environmentVariable=LD_LIBRARY_PATH+=/opt/app/oracle/product/9.2.0/lib


#These two lines are for VM 3.0.2 32 Bit Java (Upon Release). Comment them and uncomment the lines above to use a different platform.
environmentVariable=PATH+=/usr/lib/jvm/zulu-17-x86/bin/:./
environmentVariable=LD_LIBRARY_PATH+=/usr/lib/jvm/zulu-17-x86/lib/:/usr/lib/jvm/zulu-17-x86/lib/server/:./

#These two lines are for VM 3.0.2 64 Bit Java (Upon Release). Comment them and uncomment the lines above to use a different platform.
#environmentVariable=PATH+=/usr/lib/jvm/zulu-11/bin/:./
#environmentVariable=LD_LIBRARY_PATH+=/usr/lib/jvm/zulu-11/lib/:/usr/lib/jvm/zulu-11/lib/server/:./


.include "serverNetwork.cfg"
.include "localOptions.cfg"
.include "nodes.cfg"
.include "rare_loot.cfg"
.include "space_gcw.cfg"
